/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1449px) {

}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .single-f-w .ftr-inner-content img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    
    .single-f-w .ftr-inner-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 215px;
    }
  .single-f-w .ftr-inner-content .ft-content {
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .single-f-w .featured-single {
	height: 215px;
}
.single-f-w .featured-single.half-box .ft-content-banner {
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	text-align: left;
}

.feature-m-slider .slick-arrow {
    right: 20px;
    background: ;
  }
  .feature-m-slider .slick-prev.slick-arrow {
    left: 20px;
    right: auto;
    z-index: 5;
  }
  .feature-m-slider .slick-prev::before,   .feature-m-slider .slick-next::before {
	color: #27CBC0;
}


}
 


.col-lg-12.d-mb-blk {
	display: block;
}
.col-lg-12.d-mb {
	display: none;
}



/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .single-f-w .ftr-inner-content img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    
    .single-f-w .ftr-inner-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 215px;
    }
  .single-f-w .ftr-inner-content .ft-content {
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .single-f-w .featured-single {
	height: 215px;
}
.single-f-w .featured-single.half-box .ft-content-banner {
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	text-align: left;
}

.feature-m-slider .slick-arrow {
    right: 20px;
    background: ;
  }
  .feature-m-slider .slick-prev.slick-arrow {
    left: 20px;
    right: auto;
    z-index: 5;
  }
  .feature-m-slider .slick-prev::before,   .feature-m-slider .slick-next::before {
	color: #27CBC0;
}

.col-lg-12.d-mb-blk {
	display: none;
}
.ftr-inner-content {
	
	margin-bottom: 20px;
}
.ft-content {
	
	padding: 10px 10px;
}  
.ft-content h2 {
	font-size: 16px;

} 
.ftr-inner-content {
	height: 212px;
}
    
.col-lg-12.d-mb {
	display: block;
}   
    
    
}





/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

 
}


/*Star Rating End*/

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ff5500;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 14px;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #ddd;
    color:#ddd;
}
.full-stars:before {
    -webkit-text-stroke: 1px #ff5500;
}
/* Webkit-text-stroke is not supported on firefox or IE */

/* Firefox */
@-moz-document url-prefix() {
    .full-stars {
        color: #ff5500;
    }
}
.full-stars {
    color: #ff5500;
}
.edit-info-area .upload-img .img img {
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
}
.login-btn {
    color: #fff !important;
    cursor: pointer;
    background-color: #ff5500;
    border-color: #ff5500;
    padding: 8px 12px;
}
/*Star Rating End*/

/*Comment Reply Area*/

.replay-area {
    display: none;
}
.hidden {
    display: none !important;
}

.item .info .name {
    height: 60px;
}
.item .add-to-cart-btn {
    font-size: 12px;
    padding: 1px 0px;
    width: 120px;
    margin: 3px auto;
}
.item .info .name {
    font-size: 13px;
    line-height: 18px;
}
.flash-deals .flas-deal-slider .item .deal-counter span {
    font-size: 18px;
    line-height: 22px;
}
.item .item-img .extra-list ul li span {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    margin-bottom: 4px;
}
.product-details-page .right-area .product-info .info-meta-3 .meta-list li.addtocart a {

    margin: 3px;

}
